$black: #555;
$white: #fff;
$gray: #999;
$blue: #3232ad;
$orange: #E5A957;

$purple: #751080;
$red: #a81e3c;

$dark_blue: #123; 
$light_gray: #f0f0f0;

$bg: #188a5b;

$rgba_black_2: rgba(#000, 0.2);

$duration: .3s;
