@import "./variables";
@import "./extends";
@import "./libs/normalize";

@import "./components/all";

body {
  background: $bg;
}

.wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.login {
  @extend %flex-center;
  align-items: flex-start;
  padding-top: 120px;

  & > h1 {
    position: relative;
    margin-top: 18px;
    margin-right: 140px;
    text-transform: uppercase;
    color: $white;
    font-weight: 800;
    padding: 20px;
    border-radius: 20px 0 20px 0;
    text-align: center;
    font-weight: 700;

    &::after {
      content: "";
      position: absolute;
      height: 400px;
      width: 5px;
      border-radius: 4px;
      background: $white;
      right: -70px;
      top: 30px;
    }

    p {
      margin-top: 20px;
      color: $dark_blue;
    }

    & > span {
      max-width: 400px;
      display: block;
      font-size: 22px;
      font-weight: 400;
      color: $light_gray;
      margin-top: 40px;
      text-transform: none;

      & > span {
        font-weight: 700;
        color: $white;
        text-shadow: 0px 0px 1px $white;
      }
    }
  }

  &__container {
    @extend %auth-container;

    .error {
      @extend %auth-error;
    }

    h1 {
      @extend %auth-container-title;
    }
  }

  &__form {
    margin-top: 40px;

    .form-field {
      @extend %auth-form-field;

      &:nth-child(2) {
        margin-bottom: 35px;
      }
    }

    button {
      margin-bottom: 20px;
    }
  }
}

.registration {
  padding: 120px;

  &__container {
    @extend %auth-container;
    position: relative;
    margin: 0 auto;

    .error {
      @extend %auth-error;
    }

    .back {
      @extend %flex-center;
      justify-content: flex-start;
      position: absolute;
      top: 15px;
      left: 10px;
      font-size: 30px;
      color: $gray;
      transition: $duration;
      overflow: hidden;
      width: 30px;

      &:hover {
        color: $dark_blue;
        width: 100px;

        span {
          top: 5px;
        }

      }

      span {
        margin-left: 5px;
        font-size: 17px;
        font-weight: 700;
        color: $dark_blue;
        position: absolute;
        transition: $duration;
        left: 25px;
        top: -40px
      }
    }

    h1 {
      @extend %auth-container-title;
    }
  }

  &__form {
    margin-top: 40px;
    
    .form-field {
      @extend %auth-form-field;
      cursor: pointer;

      &:nth-child(3) {
        margin-bottom: 35px
      }

      .visibility {
        @extend %flex-center;
        left: auto;
        right: 5px;
        transition: $duration;

        &:hover {
          opacity: .8;
        }
      }

    }
  }
}
